openapi: 3.1.0
info:
  title: OpenCNPJ API
  version: 1.0.0
  description: |
    Brazilian CNPJ lookup API (Receita Federal open data).
    Authenticate with `X-API-Key` header.
  license:
    name: MIT OR Apache-2.0

servers:
  - url: https://api.comerc.app.br
    description: Production (example — replace with your domain)

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: "Format: ocnpj_live_<32 hex chars>"

  schemas:
    ErrorResponse:
      type: object
      required: [error, message, code]
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: integer

    PublicCNPJResponse:
      type: object
      required: [cnpj, razao_social, socios]
      properties:
        cnpj:
          type: string
          pattern: '^\d{14}$'
        razao_social:
          type: string
        nome_fantasia:
          type: string
        situacao_cadastral:
          type: string
        uf:
          type: string
        municipio:
          type: string
        cnae_principal:
          type: object
          properties:
            codigo:
              type: string
            descricao:
              type: string
        endereco:
          type: object
          properties:
            logradouro:
              type: string
            numero:
              type: string
            complemento:
              type: string
            bairro:
              type: string
            cep:
              type: string
            uf:
              type: string
            municipio:
              type: string
        telefone:
          type: string
        email:
          type: string
        socios:
          type: array
          items:
            type: object
            properties:
              nome:
                type: string
              qualificacao:
                type: string
              data_entrada_sociedade:
                type: string
                format: date
        simples:
          type: object
          properties:
            opcao_simples:
              type: string
            opcao_mei:
              type: string

paths:
  /api/v1/cnpj/{cnpj}:
    get:
      operationId: getCnpj
      summary: Lookup establishment by CNPJ
      description: Returns full establishment data for a 14-digit CNPJ.
      parameters:
        - name: cnpj
          in: path
          required: true
          schema:
            type: string
            pattern: '^\d{14}$'
          example: "00000000000191"
      responses:
        "200":
          description: Establishment found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicCNPJResponse"
        "400":
          description: Invalid CNPJ format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid API key
        "404":
          description: CNPJ not found
        "429":
          description: Rate limit or quota exceeded
        "504":
          description: Query timeout

  /readyz:
    get:
      operationId: readiness
      summary: Readiness probe
      security: []
      responses:
        "200":
          description: API and database ready
